<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Home</title>
  </head>

  <body>
    <div class="form-container">
      <div>
        <h1 class="login-header">birthday tracker</h1>
        <p class="login-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sapiente
          libero laudantium, neque odio laboriosam obcaecati explicabo sunt illo
          expedita ratione eaque mollitia, labore similique est tenetur iste
          esse in! Blanditiis quo est expedita voluptas adipisci, veritatis
          cumque odit nisi? In vitae illum obcaecati ullam quasi delectus cum
          nemo earum.
        </p>
      </div>
      <div class="form-inner-container">
        <!-- TODO change the action for the specific user logged in -->
        <form action="/birthday" id="create-form" method="POST">
          <div class="form-item">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Email"
              required
            />
          </div>
          <div class="form-item">
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
              required
            />
          </div>
          <button class="form-item" type="submit">Log In</button>
          <a href="" class="forgot-psw">Forgot Password</a>
          <a href="" class="new-account">Create new account</a>
        </form>
      </div>
    </div>
  </body>
</html>
